.image{
    width:100%;
    height:500px;
    background-size: cover;
    background-position: center;
}
.image1{
    background-image: url(lalalalisa_m___B7QEv4Ejj3F___.jpg);
}
.image2{
    background-image: url(lalalalisa_m___B8d9DzIjj8R___.jpg);
}
.image3{
    background-image: url(lalalalisa_m___B87eDZkjs6Q___.jpg);
}
.image4{
    background-image: url(lalalalisa_m_1___B2MbAdCDvOC___.jpg);
}
.image5{
    background-image: url(lalalalisa_m_1___BksYmZaHCmX___.jpg);
}
.image6{
    background-image: url(lalalalisa_m_1___Bzxq97kDDiV___.jpg);
}
.image7{
    background-image: url(lalalalisa_m_2___B2MbAdCDvOC___.jpg);
}
.image8{
    background-image: url(lalalalisa_m_2___BksYmZaHCmX___.jpg);
}
.image9{
    background-image: url(lalalalisa_m_2___Bzxq97kDDiV___.jpg);
}
.jumbotron{
    margin-top:80px;
}
